    body{
        background-color: rgb(24, 24, 24);
        height: 1570px;
    }

    .base_titulo{
        margin-bottom: 30px;
        padding: 0px;
        width: 100%;
        height: 100px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px;
        border-color: rgb(253, 253, 253);
        border-style: solid;
        
    }

    .titulo{
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 400%;
    }

    .titanes{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 450%;
        font-family: 'Poppins', sans-serif;
    }

    .ion, .scorch, .ronin, .northstar, .tone, .legion, .monarch{
        margin-bottom: 45px;
        margin-top: 45px;
        transition: transform .2s, color .6s;
        text-decoration: none;
        color: white;
    }

    .ion:hover{
    color: rgb(0, 102, 255);
    transform: scale(3);
    }

    .scorch:hover{
    color: orange;
    transform: scale(3);
    }

    .ronin:hover{
    color: rgb(243, 48, 48);
    transform: scale(3);
    }

    .northstar:hover{
        color: rgb(0, 247, 255);
        transform: scale(3);
    }

    .tone:hover{
        color: rgb(81, 255, 0);
        transform: scale(3);
    }

    .legion:hover{
        color: rgb(255, 38, 0);  
        transform: scale(3);
    }

    .monarch:hover{
        color: rgb(251, 255, 0); 
        transform: scale(3);
    }



    /*ION HTML*/

    .imgionborde{
        position: absolute;
        display: flex;
        top: 22%;
        left: 0%;
        height: 76%;
        width: 34%;
        border-style: solid;
        border-radius: 3%;
        border-color: rgb(0, 102, 255);
        box-shadow: 0 0 20px rgb(0, 102, 255);

    }

    .imgion{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 2.6%;
    }


    .ionbody{
        display: flex;
        height: 923px;
    }

    .ionh1, .ionh2, .ionh3, .ionh4, .ionh5{
        height: 100%;
        width: 10%;
        border-color: white;
        border-style: solid;
        box-sizing: border-box;
        display: flex;
    }   

    .ionh1{
        margin-left: 0px;
    }

    .imgh2, .imgh3, .imgh4, .imgh5{
        position: relative;
        width: 100%;
        height: 100%;
    }   

    .imgh5{
        left: 3%;
    }

    .ionh{
        display: flex;
        justify-content: space-between;
        position: absolute;
        border-style: solid;
        border-color: red;
        height: 20%;
        width: 99.9%;
        top: 0%;
        left: 0%;
    }



    /*ION HTML*/